@use "variables" as v;

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  width: min(100% - #{v.$space-lg * 2}, v.$container-max);
  margin-inline: auto;
}
